{% extends 'base.html' %}

{% block content %}
<form>
    <div class="row">
        <div class="col-auto">
            <input type="text" class="form-control" placeholder="Keyword" name="keyword"
                value="{{ keyword|default:''}}">
        </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
        </div>
</form>

<table class="table">
    <thead>
        <th>Code</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Department</th>
        <th>
            <a href="create" class="btn btn-primary">Add</a>
        </th>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.code }}</td>
            <td>s
                <a href="{{student.get_absolute_url}}">{{student.name}}</a>
            </td>
            <td>{{ student.address }}</td>
            <td>{{ student.email | default:'-' }}</td>
            <td>{{ student.department | default:'-' }}</td>
            <td>
                <a href="{% url 'update' student.id %}" class="btn btn-success">Update</a>
                <a href="{% url 'delete' student.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}